# This is a basic workflow to help you get started with Actions

name: Esteira de Ambientes


on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
        
  deploy-Desenvolvimento:
    runs-on: ubuntu-latest
    environment:
      name: Desenvolvimento
      url: ferhmdiogo@gmail.com
    needs: build
    steps:
      - name: Run a one-line script
        run: echo Deploy Develop!
        
  deploy-Homologacao:
    runs-on: ubuntu-latest
    environment:
      name: Homologacao
      url: ferhmdiogo@gmail.com
    needs: deploy-Desenvolvimento
    steps:
      - name: Run a one-line script
        run: echo Deploy Homolog!
        
  deploy-main:
    runs-on: ubuntu-latest
    environment:
      name: main
      url: ferhmdiogo@gmail.com
    needs: deploy-Homologacao
    steps:
      - name: Run a one-line script
        run: echo Deploy Prod!
